.DS_Store
/wp-admin
/wp-includes
.htaccess
wp-cli.phar
wp-cli.pharcurl

/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

/wp-content/themes/twenty*
/wp-content/themes/index.php
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/plugins/akismet/class.akismet-rest-api.php
