@font-face {
	font-family:'Trajan';
	src: url('../fonts/TrajanPro3-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Trajan';
	src: url('../fonts/TrajanPro3-Bold.otf');
	font-weight: bold;
}
br {
	display: none;
}
body {
	background-image: url(../img/background1.jpg);
	background-size: contain;
	background-attachment: fixed;
	/*background-repeat: no-repeat;*/
	background-blend-mode: soft-light;
	background-color: rgba(237, 232, 209, 0.7);
}
p, h1, h2, h3, div {
	font-weight: 100;
}
footer {
	position: fixed;
	bottom: 0;
	left: 10px;
}


.wrapper {
	margin: 0px 80px 0px 200px;
}
/* Sections */
.posting {
}
.posting:after {
	content: '';
	display: block;
	clear: both;
}
.section {
	margin-bottom: 15px;
}
.left-sections {
	float: left;
	width: 55%;
}
.left-sections > p {
	/*display: none;*/
}
.right-sections {
	float: right;
	width: 55%;
}
.section.content {
	float: right;
	width: 45%;
	padding: 5px;
}
.section.meta .page-title {
	width: 50%;
	height: 140px;
	float: left;
	padding-left: 15px;
}
.section.meta .page-title h1, .section.meta .page-title h2 {
	font-family: 'Trajan', serif;
	text-transform: capitalize;
	margin: 0;
}
.section.meta .page-title h1 {
	font-size: 4.5em;
}
.section.meta .page-title h2 {
	font-size: 3em;
}
.section.gallery {}

/* Content Blocks */
.content-block {
	display: block;
	/*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
	padding: 10px;
	max-width: 100%;
	/*background: #ede8d1;*/
	min-height: 120px;
	position: relative;
}
.section.content .content-block:not(:last-child) {
	margin-bottom: 15px;
}
.content-block-title {
	font-family: 'Trajan', serif;
	text-transform: capitalize;
	font-size: 15pt;
	display: inline-block;
	width: 30%;
	text-align: right;
	float: left;
	position: absolute;
    top: 0;
    left: -30%;
    transform: rotate(-90deg);
    transform-origin: right;
}
.content-block-title h1 {
	margin: 0;
}
.content-block-accent {
	width: 100%;
	height: 3px;
	background: red;
	position: absolute;
}
.content-block-content {
	font-family: 'Trajan', serif;
	font-size: 11pt;
	line-height: 1.5em;
	display: inline-block;
	width: calc(100% - 30px);
	padding: 0px 10px;
	margin-left: 50px;
}

.content-block.quick-info {
	width: 50%;
	height: 140px;
	float: right;
	border-left: 1px solid;
	display: table;
	min-height: 0;
}
.quick-info .content-block-content {
	font-weight: bold;
	margin: 0;
	font-family: cursive;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
}


/*SLIDER STYLES*/
.slider img, .gallery img {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;  
}
.slider-block .slick-track {
	height: 25vw;
}
.slider-block img {
	height: 100%;
	margin: 0 auto;
}

.gallery div.image {
	height: 6vw;
	overflow: hidden;
	padding: 2px;
}
.gallery div.image img {
	height: 100%;
	width: fit-content;
}
.left-sections .alignnone { width: 100%; padding: 0 5%; }
.gallery { padding: 10px; }
.gallery .gallery-item img { border: none !important; height: auto; }

div:focus {
	outline: none;
}

/*Fullpage Customization*/
.fp-tableCell {
	background-color: rgba(233, 221, 192, 0.7);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 20px;
}
#fp-nav.left {
	left: 0;
	top: 0;
	margin-top: 0 !important;
}
#fp-nav ul li {
	display: block;
	width: 200px;
	height: auto;
	margin: 0;
	padding: 5px 10px;
	box-sizing: border-box;
}
#fp-nav ul li a {
	display: none;
}
#fp-nav ul li .fp-tooltip {
	color: #ffffff;
	background: rgba(0,0,0,0.5);
	opacity: 1;
	width: 100% !important;
	height: auto;
	text-align: center;
	font-family: 'Trajan';
	transition: all 0.2s !important;
	position: initial;
	white-space: normal;
	padding: 5px;
}
#fp-nav ul li .fp-tooltip.left {
	left: 0;
}
#fp-nav.fp-show-active a.active + .fp-tooltip {
	font-size: 18px;
	padding: 10px 5px;
	background: rgba(0,0,0,1);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


@media only screen and (max-width: 1600px) {
	.content-block-title h1 {
		font-size: 20px;
	}
	.gallery .gallery-item {
		width: calc(100% / 3) !important;
	}
}
@media only screen and (max-width: 1450px) {

	.section.meta .page-title {
		width: 100%;
		height: 120px;
	}
	.section.meta .quick-info {
		width: 100%;
		border: none;
		height: auto;
	}
	.content-block-title {
		width: 50%;
	}
	.section.meta .page-title h1 {
		font-size: 8em;
		line-height: 1;
	}
	.section.meta .page-title h2 {
		line-height: 1;
	}
}
@media only screen and (max-width: 1300px) {
	.content-block-title h1 {
		font-size: 16px;
	}
}
@media only screen and (max-width: 1200px) {

	.gallery .gallery-item {
		width: calc(100% / 2) !important;
	}
}
@media only screen and (max-width: 1080px) {
	footer {
		transform: rotate(90deg);
		bottom: 60px;
		left: -60px;
	}
	.wrapper {
		margin-top: 0;
		margin-right: 0;
		margin: 0 0 0 100px;
	}
	.fp-tableCell {
		overflow: scroll;
		vertical-align: inherit;
	}
	.fp-tableCell::-webkit-scrollbar { 
	    display: none; 
	}
	.fp-tableCell:after {
		content: '';
		clear: both;
	}
	#fp-nav.left {
		left: 0;
	}
	#fp-nav ul li {
		width: 100px;
		padding: 5px;
	}
	#fp-nav ul li .fp-tooltip {
		font-size: 11px;
	}
	#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
		width: 70px;
		white-space: normal;
		font-size: 14px;
	}
	.left-sections {
		float: none;
		width: 100%;
		padding: 0;
	}
	.section {
		padding: 10px;
	}
	.section.meta .page-title {
		font-size: 0.8em;
		width: 100%;
		height: 100px;
	}
	.section.meta .quick-info {
		/*display: none;*/
	}
	.section.slider, .section.gallery {
		padding: 0;
	}
	.section.content {
		float: none;
		width: 100%;
		/*overflow: initial;*/
	}
	.content-block {
		box-shadow: none;
		min-height: 90px;
	}
	.content-block-title {
		position: initial;
		transform: none;
		width: 100%;
		padding-bottom: 20px;
		text-align: left;
	}
	.content-block-accent {
		position: initial;
	}
	.content-block-content {
		float: none;
		display: block;
		width: 100%;
		font-size: 1.1em;
		text-align: justify;
		margin-left: 0;
	}
	.quick-info .content-block-content {
		font-size: 1.5em;
		padding: 10px;
	}
	
	.slider-block .slick-track {
		height: 55vw;
	}
	.slider-block img {
		height: auto;
	}
	.gallery div.image {
		height: 15vw;
	}
	.gallery div.image img {
		height: 100%;
		width: fit-content;
	}
	.gallery .gallery-item {
		width: calc(100% / 3) !important;
		float: none !important;
		display: inline-block;
	}
}
@media only screen and (max-width: 768px) {
	.gallery .gallery-item {
	}
}
@media only screen and (max-width: 619px) {
	.gallery .gallery-item {
		width: 50% !important;
	}
	.gallery .gallery-item img {
		width: 100px !important;
		height: 100px !important;
	}
}